In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array(my_list)
d = {'a':10,'b':20,'c':30}

In [5]:
labels

['a', 'b', 'c']

In [6]:
my_list

[10, 20, 30]

In [7]:
arr

array([10, 20, 30])

In [8]:
d

{'a': 10, 'b': 20, 'c': 30}

In [10]:
ser = pd.Series(data=my_list)

In [11]:
ser

0    10
1    20
2    30
dtype: int64

In [13]:
pd.Series(my_list,labels)

a    10
b    20
c    30
dtype: int64

In [14]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [15]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [23]:
ser1 = pd.Series([1,2,3,4],['USA','Ger','Italy','Japan'])

In [25]:
ser1

USA      1
Ger      2
Italy    3
Japan    4
dtype: int64

In [18]:
ser['USA']

1

In [19]:
ser['Japan']

4

In [20]:
ser2 = pd.Series([1,2,3,4],['USA','Ger','USSR','Japan'])

In [26]:
ser1 + ser2

Ger      4.0
Italy    NaN
Japan    8.0
USA      2.0
USSR     NaN
dtype: float64