In [1]:
1+1

2

In [2]:
4 * 5

20

In [4]:
1.0/2.0

0.5

In [6]:
 2 ** 4

16

In [8]:
4 % 2

0

In [10]:
5 % 2

1

In [11]:
(2 + 3) * (5 + 5)

50

Variable Assignment

In [12]:
name_of_var = 2

In [13]:
name_of_var

2

In [14]:
x = 2
y = 3

In [15]:
z = x + y

In [16]:
z

5

# Strings

In [20]:
'This is a string'

'This is a string'

In [21]:
"Let's see what happens"

"Let's see what happens"

Printing

In [23]:
x = "Hello"

In [24]:
x

'Hello'

In [25]:
print(x)

Hello

In [30]:
num = 12
name = 'Sam'

In [27]:
print('My number is 12 and my name is Sam')

My number is 12 and my name is Sam

In [31]:
print('My number is: {one}, and my name is: {two}'.format(one = num, two = name))

My number is: 12, and my name is: Sam

# Lists

# Dictionaries

In [39]:
d= {'key1':[1,2,3],'key2':'item2'}

In [40]:
d

{'key1': [1, 2, 3], 'key2': 'item2'}

In [41]:
d[0]

KeyError: 0

In [42]:
d['key1']

[1, 2, 3]

In [43]:
d['key1'][0]

1

# Tuple

In [44]:
t = (1,2,3)

In [45]:
t

(1, 2, 3)

In [47]:
t[0] = 'New'

TypeError: 'tuple' object does not support item assignment

# Sets

In [49]:
{1,2,3}

{1, 2, 3}

In [50]:
{1,1,1,1,2,2,2,3,4}

{1, 2, 3, 4}

In [51]:
s= set([1,1,2,2,3,3,5,5,6,6])

In [52]:
s

{1, 2, 3, 5, 6}

In [53]:
s.add(5)

In [54]:
s

{1, 2, 3, 5, 6}

In [55]:
s.add(7)

In [56]:
s

{1, 2, 3, 5, 6, 7}

# Comparison Operators

In [58]:
1>2

False

In [59]:
2>1

True

In [60]:
1>=1

True

In [61]:
1<=4

True

In [62]:
1 == 1

True

In [63]:
'hi'=='bye'

False

# Logical Operators

In [66]:
(1<2) and (2>3)

False

In [67]:
(1>2) or (2<3)

True

# if, elif, else Statements

In [71]:
if 1 < 2:
    print ('yep!')

yep!

In [73]:
if 1>2:
    print('First')
else:
    print('last')

last

In [74]:
if 1 == 2:
    print('First')
elif 3 ==3:
    print('middle')
else:
    print('last')

middle

# for loop

In [75]:
seq = [1,2,3,4,5]

In [76]:
for item in seq:
    print(item)

1
2
3
4
5

In [77]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [79]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

# while loop

In [81]:
i = 1
while i<5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4